*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
.digital-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:brown
}

#clock{
    font-size: 50px;
    font-weight: 100;
}